@using ITBlog.Business.DTO
@model List<ITBlog.Business.DTO.ViewDTOs.IndexViewDTOS>
@{
    var tagPicture = new PictureDTO();
}

@if (Model != null)
{
    @foreach (var post in Model)
    {
        @if (post.Post != null)
        {
            <div class="entry col-12">
                <div class="grid-inner row g-0">
                    <div class="col-md-4">
                        @if (tagPicture != null)
                        {
                            <div class="entry-image">
                                <a href="/Post/GetPostById/@post.Post.Id" data-lightbox="image"><img src="@post.MainPicture.PictureUrl" alt="@post.MainPicture.PictureAltName"></a>
                            </div>
                        }
                    </div>
                    <div class="col-md-8 ps-md-4">
                        <div class="entry-title title-sm">
                            <h2><a href="/Post/GetPostById/@post.Post.Id">@Html.Raw(post.Post.Title)</a></h2>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li><i class="icon-calendar3"></i>@post.Post.CreatedDateTime</li>
                                <li><a href="#"><i class="icon-user"></i>@post.Author.AuthorName @post.Author.AuthorLastName</a></li>
                                <li>
                                    <i class="icon-folder-open"></i>@Html.Raw(post.CategoryFlat)
                                    @*<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>*@
                            </ul>
                        </div>
                        <div class="entry-content">
                            @if (post.CategoryFlat.Contains("Content"))
                            {
                                @if (post.Post.SecondContent.Length > 250)
                                {
                                    <p>@Html.Raw(post.Post.SecondContent.Substring(0, 250) + "...")</p>
                                    <a href="/Post/GetPostById/@post.Post.Id" class="more-link">Okumaya Devam Et</a>
                                }
                                else
                                {
                                    <p>@Html.Raw(post.Post.SecondContent)</p>
                                    <a href="/Post/GetPostById/@post.Post.Id" class="more-link">Yazının İçeriğini Gör</a>
                                }
                            }
                            else
                            {
                                <p>@Html.Raw(post.Post.SecondContent)</p>

                            }
                        </div>
                    </div>
                </div>
            </div>
        }


    }

}
